<%for(var i = 0;i < amount;i++){%>
    <div class="Drone_Block" id="Drone_Block_<%=i%>">
        <div class="top">
            <div class="left">
                <div class="top parent_of_center">
                    <img src="/static/img/drone_icon.png" alt="drone_icon" height="75px">
                </div>
                <div class="top">
                    <p>id:<%=result[i]["id"]%></p>
                </div>
                <div class="top">
                    <p>description:</p>
                    <p><%=result[i]["description"]%></p>
                </div>
            </div>
            <div class="right">
                <p>ip:<%=result[i]["ip"]%></p>
                <p>port:<%=result[i]["port"]%></p>
                <p>name: <%=result[i]["name"]%></p>
                <p id="Drone_Status_Sign_Offline_<%=i%>">offline</p>
            </div>
        </div>
        <div class="top">
            <form action="" method="POST">
                <!--太土砲了，以後看看有更好的辦法-->
                <input name="id" value="<%=result[i]["id"]%>" style="display:none;">
                <input name="description" value="<%=result[i]["description"]%>" style="display:none;">
                <input name="ip" value="<%=result[i]["ip"]%>" style="display:none;">
                <input name="port" value="<%=result[i]["port"]%>" style="display:none;">
                <input name="name" value="<%=result[i]["name"]%>" style="display:none;">
                
                <input type="text" name="Drone_Block_Input" id="Drone_Block_Input_<%=i%>">
                <input type="button" value="ascii">
                <button type="button" class="drop_down_menu"><img src="/static/img/drop-down-arrow.png"></button>
                
                <div class="drop_down_menu_list">
                    <ul>
                        <li>
                            <a href="javascript:change_encode('b64',<%=i%>)">b64</a>
                        </li>
                        <li>
                            <a href="javascript:change_encode('hex',<%=i%>)">hex</a>
                        </li>
                    </ul>
                </div>
            </form>
            <button id="show_log_<%=i%>">show log</button>    
            <div id="detail_info_<%=i%>" style="display: inline-block;">
                <button id="detail_infoButton_<%=i%>">detail info</button>
                <div id="detail_infoFrame_<%=i%>" class="block hiddenAni">
                    <button id="Lng_Button_<%=i%>">Lng</button>
                    <button id="Lat_Button_<%=i%>">Lat</button>
                    <button>test3</button>
                    <p>請選擇資訊</p>
                    <div id="Lng_info_<%=i%>" class="hiddenAni">
                        <%if(LatestGps[i] != undefined){%>
                            <%=LatestGps[i].gps_lng%>
                        <%}%>
                    </div>
                    <div id="Lat_info_<%=i%>" class="hiddenAni">
                        <%if(LatestGps[i] != undefined){%>
                            <%=LatestGps[i].gps_lat%>
                        <%}%>
                    </div>
                </div>
            </div>
            
            <button id="pause_<%=i%>" style="display: none;">pause</button>    
        </div>
    </div>	
<%}%>

